<link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Monsterrat&display=swap" rel="stylesheet">

<nav class="navbar navbar-expand-md">
  <a class="navbar-brand logo" href="#">WeConnect</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item myitem">
        <a class="nav-link mylink disable" [routerLink]="['user/profile']" *ngIf="uProfile"> <i class="fa fa-user"></i>&nbsp; View Profile</a>
      </li>

      
    </ul>
  </div>
</nav>

<div class="container-fluid content">
  <router-outlet></router-outlet>
</div>
